In [1]:
# Data Processing & Feature Engineering
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.utils import shuffle

# Model Selection & Evaluation
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error

# Tree-based Models
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
# from xgboost import XGBRegressor

# Deep Learning (RNN, LSTM) - TensorFlow/Keras
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import SimpleRNN, LSTM, Dense, Dropout

# Visualization
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns

# Custom Modules
from data_preprocessing import load_data, apply_feature_engineering

In [2]:
df = pd.read_csv('data/fe_sample2.csv')
df = df.drop(columns= 'Unnamed: 0')

FileNotFoundError: [Errno 2] No such file or directory: 'data/fe_sample2.csv'

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   searchDate                800000 non-null  object
 1   flightDate                800000 non-null  object
 2   startingAirport           800000 non-null  object
 3   destinationAirport        800000 non-null  object
 4   travelDuration            800000 non-null  object
 5   isBasicEconomy            800000 non-null  bool
 6   isRefundable              800000 non-null  bool
 7   isNonStop                 800000 non-null  bool
 8   totalFare                 800000 non-null  float64
 9   seatsRemaining            800000 non-null  int64
 10  totalTravelDistance       751962 non-null  float64
 11  segmentsDepartureTimeRaw  800000 non-null  object
 12  segmentsAirlineCode       800000 non-null  object
 13  segmentsCabinCode         800000 non-null  object
dtypes: bool(3), float64(2), int64(1), object(8)
memory usage: 69.4+ MB

In [5]:
df.head()

,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,seatsRemaining,totalTravelDistance,segmentsDepartureTimeRaw,segmentsAirlineCode,segmentsCabinCode
0,2022-04-16,2022-04-17,ATL,BOS,PT2H29M,False,False,True,248.6,9,947.0,2022-04-17T12:57:00.000-04:00,DL,coach
1,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.6,4,947.0,2022-04-17T06:30:00.000-04:00,DL,coach
2,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.6,9,947.0,2022-04-17T11:35:00.000-04:00,DL,coach
3,2022-04-16,2022-04-17,ATL,BOS,PT2H32M,False,False,True,248.6,8,947.0,2022-04-17T13:59:00.000-04:00,DL,coach
4,2022-04-16,2022-04-17,ATL,BOS,PT2H34M,False,False,True,248.6,9,947.0,2022-04-17T09:59:00.000-04:00,DL,coach

In [4]:
print(df.head(3))

   searchDate  flightDate startingAirport destinationAirport travelDuration  \
0  2022-04-16  2022-04-17             ATL                BOS        PT2H29M
1  2022-04-16  2022-04-17             ATL                BOS        PT2H30M
2  2022-04-16  2022-04-17             ATL                BOS        PT2H30M

   isBasicEconomy  isRefundable  isNonStop  totalFare  seatsRemaining  \
0           False         False       True      248.6               9
1           False         False       True      248.6               4
2           False         False       True      248.6               9

   totalTravelDistance       segmentsDepartureTimeRaw segmentsAirlineCode  \
0                947.0  2022-04-17T12:57:00.000-04:00                  DL
1                947.0  2022-04-17T06:30:00.000-04:00                  DL
2                947.0  2022-04-17T11:35:00.000-04:00                  DL

  segmentsCabinCode
0             coach
1             coach
2             coach

In [5]:
from data_preprocessing import load_data, apply_feature_engineering

In [54]:
df_eng = apply_feature_engineering(df)

Starting feature engineering...
Converting date columns...
Extracting travel duration...
Imputing missing travel distances...
Processing departure times...
Extracting departure hour and float...
Processing airline and cabin class codes...
Applying Label Encoding...
Label Encoding complete!
Calculating days to departure...
Processing holiday features...
Dropping unnecessary columns...
Feature engineering complete!

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   searchDate          800000 non-null  datetime64[ns]
 1   flightDate          800000 non-null  datetime64[ns]
 2   startingAirport     800000 non-null  int64
 3   destinationAirport  800000 non-null  int64
 4   travelDuration      800000 non-null  int64
 5   isRefundable        800000 non-null  bool
 6   isNonStop           800000 non-null  bool
 7   totalFare           800000 non-null  float64
 8   seatsRemaining      800000 non-null  int64
 9   airlineCode         800000 non-null  int64
 10  cabinClass          800000 non-null  int64
 11  travelDistance      800000 non-null  float64
 12  departureTimeHour   800000 non-null  int32
 13  departureTimeFloat  800000 non-null  float64
 14  daysToDeparture     800000 non-null  Int64
 15  departureDayOfWeek  800000 non-null  int32
 16  isWeekend           800000 non-null  bool
 17  isHoliday           800000 non-null  bool
 18  nearHoliday         800000 non-null  bool
dtypes: Int64(1), bool(5), datetime64[ns](2), float64(3), int32(2), int64(6)
memory usage: 83.9 MB

In [55]:
df = df_eng

In [56]:
# Step 1: Aggregate time into flightDate
# Convert departureTimeFloat into hours and minutes, then add it to flightDate
df['flightDate'] = df['flightDate'] + pd.to_timedelta(df['departureTimeFloat'] * 60, unit='m')

# Ensure datetime format only includes hours and minutes
df['flightDate'] = pd.to_datetime(df['flightDate']).dt.strftime('%Y-%m-%d %H:%M')

# Step 2: Group by flightDate (including time), startingAirport, and destinationAirport
# Step 3: Keep the cheapest fare for each group
df = df.loc[df.groupby(['flightDate', 'startingAirport', 'destinationAirport'])['totalFare'].idxmin()].reset_index(drop=True)

# Step 4: Sort in descending order of daysToDeparture
df = df.sort_values(by=['flightDate', 'daysToDeparture'], ascending=[True, False])

In [57]:
df.head(20)

,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isRefundable,isNonStop,totalFare,seatsRemaining,airlineCode,cabinClass,travelDistance,departureTimeHour,departureTimeFloat,daysToDeparture,departureDayOfWeek,isWeekend,isHoliday,nearHoliday
0,2022-04-16,2022-04-17 00:00,1,3,282,False,True,313.60,7,41,25,1763.0,0,0.000000,1,6,True,True,True
1,2022-04-16,2022-04-17 00:00,8,0,692,False,False,690.20,5,55,12,1087.0,0,0.000000,1,6,True,True,True
2,2022-04-16,2022-04-17 00:00,8,3,283,False,True,238.60,3,47,25,1621.0,0,0.000000,1,6,True,True,True
3,2022-04-16,2022-04-17 00:00,8,5,218,False,False,318.60,1,24,12,612.0,0,0.000000,1,6,True,True,True
4,2022-04-16,2022-04-17 00:00,10,0,159,False,True,348.60,4,47,25,762.0,0,0.000000,1,6,True,True,True
5,2022-04-16,2022-04-17 00:00,10,5,127,False,True,248.60,9,47,25,485.0,0,0.000000,1,6,True,True,True
6,2022-04-16,2022-04-17 00:00,10,11,201,False,True,371.60,1,19,25,1104.0,0,0.000000,1,6,True,True,True
7,2022-04-16,2022-04-17 00:00,10,12,1331,False,False,899.30,1,88,14,3140.0,0,0.000000,1,6,True,True,True
8,2022-04-16,2022-04-17 00:00,10,14,263,False,False,698.60,9,55,12,932.0,0,0.000000,1,6,True,True,True
9,2022-04-16,2022-04-17 00:00,11,3,972,False,False,1738.19,3,36,12,3100.0,0,0.000000,1,6,True,True,True
10,2022-04-16,2022-04-17 00:00,11,9,865,False,False,1668.20,3,36,12,2365.0,0,0.000000,1,6,True,True,True
11,2022-04-16,2022-04-17 00:00,15,7,582,False,False,661.60,1,30,12,2634.0,0,0.000000,1,6,True,True,True
12,2022-04-16,2022-04-17 00:00,15,9,85,False,True,268.60,4,29,25,339.0,0,0.000000,1,6,True,True,True
13,2022-04-16,2022-04-17 00:02,3,12,163,False,True,123.98,4,65,25,943.0,0,0.033333,1,6,True,True,True
14,2022-04-16,2022-04-17 00:03,4,6,205,False,True,235.60,7,41,25,1380.0,0,0.050000,1,6,True,True,True
15,2022-04-16,2022-04-17 00:04,4,10,206,False,True,183.60,7,41,25,1380.0,0,0.066667,1,6,True,True,True
16,2022-04-16,2022-04-17 00:04,4,13,851,False,False,380.20,3,24,12,2100.0,0,0.066667,1,6,True,True,True
17,2022-04-16,2022-04-17 00:04,13,11,189,False,True,248.60,5,76,25,1192.0,0,0.066667,1,6,True,True,True
18,2022-04-16,2022-04-17 00:05,2,1,259,False,False,186.10,1,55,12,730.0,0,0.083333,1,6,True,True,True
19,2022-04-16,2022-04-17 00:05,2,8,124,False,True,397.10,9,47,25,545.0,0,0.083333,1,6,True,True,True

In [46]:
df= df_eng

In [49]:
df['flightDate'] = df['flightDate'] + pd.to_timedelta(df['departureTimeFloat'].round(2) * 60, unit='m')
df['flightDate'] = df['flightDate'].dt.strftime('%Y-%m-%d %H:%M')

In [50]:
df.head()

,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isRefundable,isNonStop,totalFare,seatsRemaining,airlineCode,cabinClass,travelDistance,departureTimeHour,departureTimeFloat,daysToDeparture,departureDayOfWeek,isWeekend,isHoliday,nearHoliday
0,2022-04-16,2022-04-20 12:45,0,1,149,False,True,248.6,9,47,25,947.0,16,16.950000,1,6,True,True,True
1,2022-04-16,2022-04-19 04:30,0,1,150,False,True,248.6,4,47,25,947.0,10,10.500000,1,6,True,True,True
2,2022-04-16,2022-04-20 05:54,0,1,150,False,True,248.6,9,47,25,947.0,15,15.583333,1,6,True,True,True
3,2022-04-16,2022-04-20 17:54,0,1,152,False,True,248.6,8,47,25,947.0,17,17.983333,1,6,True,True,True
4,2022-04-16,2022-04-19 21:54,0,1,154,False,True,248.6,9,47,25,947.0,13,13.983333,1,6,True,True,True

In [51]:
df = df.sort_values(by=['totalFare']).groupby(['flightDate', 'startingAirport', 'destinationAirport']).first().reset_index()
df = df.sort_values(by=['daysToDeparture'], ascending=False)

In [52]:
df[['flightDate', 'startingAirport', 'destinationAirport', 'daysToDeparture']].head(20)

              flightDate  startingAirport  destinationAirport  daysToDeparture
389573  2022-06-20 23:54               11                  13               60
371847  2022-06-16 20:00               15                   8               60
371846  2022-06-16 20:00               15                   6               60
371845  2022-06-16 20:00               15                   0               60
371839  2022-06-16 20:00                9                  14               60
371838  2022-06-16 20:00                9                  13               60
384451  2022-06-19 01:00               11                   8               60
384452  2022-06-19 01:00               11                  13               60
384453  2022-06-19 01:00               11                  15               60
371837  2022-06-16 20:00                9                  10               60
371836  2022-06-16 20:00                9                   6               60
371835  2022-06-16 20:00                9                   5               60
371834  2022-06-16 20:00                9                   1               60
371833  2022-06-16 20:00                9                   0               60
371780  2022-06-16 19:39                9                  15               60
371766  2022-06-16 19:35                9                  13               60
371765  2022-06-16 19:35                9                   4               60
371759  2022-06-16 19:35                0                   8               60
371704  2022-06-16 19:20               12                  13               60
371703  2022-06-16 19:20               12                   9               60

In [15]:
df_sorted = df_eng.groupby(by=['flightDate', 'startingAirport', 'destinationAirport'], group_keys=False).apply(lambda x: x.sort_values(by='daysToDeparture'))

In [18]:
df_sorted[['flightDate', 'searchDate', 'startingAirport', 'destinationAirport', 'daysToDeparture', 'airlineCode']].head(20)

,flightDate,searchDate,startingAirport,destinationAirport,daysToDeparture,airlineCode
0,2022-04-17,2022-04-16,0,1,1,47
20,2022-04-17,2022-04-16,0,1,1,24
21,2022-04-17,2022-04-16,0,1,1,24
22,2022-04-17,2022-04-16,0,1,1,90
23,2022-04-17,2022-04-16,0,1,1,90
24,2022-04-17,2022-04-16,0,1,1,90
25,2022-04-17,2022-04-16,0,1,1,73
26,2022-04-17,2022-04-16,0,1,1,90
27,2022-04-17,2022-04-16,0,1,1,90
28,2022-04-17,2022-04-16,0,1,1,47
29,2022-04-17,2022-04-16,0,1,1,41
30,2022-04-17,2022-04-16,0,1,1,47
31,2022-04-17,2022-04-16,0,1,1,47
32,2022-04-17,2022-04-16,0,1,1,47
33,2022-04-17,2022-04-16,0,1,1,90
34,2022-04-17,2022-04-16,0,1,1,90
19,2022-04-17,2022-04-16,0,1,1,24
35,2022-04-17,2022-04-16,0,1,1,19
18,2022-04-17,2022-04-16,0,1,1,24
16,2022-04-17,2022-04-16,0,1,1,19

In [22]:
df_cheapest = df_eng.loc[
    df_eng.groupby(['startingAirport', 'destinationAirport', 'flightDate', 'daysToDeparture'])['totalFare'].idxmin()
].reset_index(drop=True)

print("Shape after filtering:", df_cheapest.shape)
df_cheapest[['startingAirport', 'destinationAirport', 'flightDate', 'daysToDeparture']].head(50)

Shape after filtering: (20841, 19)

    startingAirport  destinationAirport flightDate  daysToDeparture
0                 0                   1 2022-04-17                1
1                 0                   1 2022-04-18                1
2                 0                   1 2022-04-18                2
3                 0                   1 2022-04-19                1
4                 0                   1 2022-04-19                2
5                 0                   1 2022-04-19                3
6                 0                   1 2022-04-20                2
7                 0                   1 2022-04-20                3
8                 0                   1 2022-04-20                4
9                 0                   1 2022-04-21                3
10                0                   1 2022-04-21                4
11                0                   1 2022-04-21                5
12                0                   1 2022-04-22                4
13                0                   1 2022-04-22                5
14                0                   1 2022-04-22                6
15                0                   1 2022-04-23                5
16                0                   1 2022-04-23                6
17                0                   1 2022-04-23                7
18                0                   1 2022-04-24                6
19                0                   1 2022-04-24                7
20                0                   1 2022-04-24                8
21                0                   1 2022-04-25                7
22                0                   1 2022-04-25                8
23                0                   1 2022-04-25                9
24                0                   1 2022-04-26                8
25                0                   1 2022-04-26                9
26                0                   1 2022-04-26               10
27                0                   1 2022-04-27                9
28                0                   1 2022-04-27               10
29                0                   1 2022-04-28               10
30                0                   1 2022-04-28               11
31                0                   1 2022-04-29               11
32                0                   1 2022-04-29               12
33                0                   1 2022-04-30               12
34                0                   1 2022-04-30               13
35                0                   1 2022-05-01               13
36                0                   1 2022-05-01               14
37                0                   1 2022-05-02               14
38                0                   1 2022-05-02               15
39                0                   1 2022-05-03               15
40                0                   1 2022-05-03               16
41                0                   1 2022-05-04               16
42                0                   1 2022-05-04               17
43                0                   1 2022-05-05               17
44                0                   1 2022-05-05               18
45                0                   1 2022-05-06               18
46                0                   1 2022-05-06               19
47                0                   1 2022-05-07               19
48                0                   1 2022-05-07               20
49                0                   1 2022-05-08               20

In [35]:
df_cheapgroup = df_cheapest.sort_values(by= ['flightDate', 'startingAirport', 'destinationAirport'])[['startingAirport', 'destinationAirport', 'flightDate', 'daysToDeparture']]

In [36]:
df_cheapgroup

       startingAirport  destinationAirport flightDate  daysToDeparture
0                    0                   1 2022-04-17                1
90                   0                   2 2022-04-17                1
180                  0                   3 2022-04-17                1
270                  0                   4 2022-04-17                1
360                  0                   5 2022-04-17                1
...                ...                 ...        ...              ...
20484               15                  10 2022-06-16               60
20573               15                  11 2022-06-16               60
20662               15                  12 2022-06-16               60
20751               15                  13 2022-06-16               60
20840               15                  14 2022-06-16               60

[20841 rows x 4 columns]

In [26]:
df_sorted[['startingAirport', 'destinationAirport', 'flightDate', 'daysToDeparture']].head(20)

      startingAirport  destinationAirport flightDate  daysToDeparture
0                   0                   1 2022-04-17                1
90                  0                   2 2022-04-17                1
180                 0                   3 2022-04-17                1
270                 0                   4 2022-04-17                1
360                 0                   5 2022-04-17                1
450                 0                   6 2022-04-17                1
540                 0                   7 2022-04-17                1
630                 0                   8 2022-04-17                1
720                 0                   9 2022-04-17                1
810                 0                  10 2022-04-17                1
900                 0                  11 2022-04-17                1
990                 0                  12 2022-04-17                1
1080                0                  13 2022-04-17                1
1170                0                  14 2022-04-17                1
1260                0                  15 2022-04-17                1
1350                1                   0 2022-04-17                1
1440                1                   2 2022-04-17                1
1530                1                   3 2022-04-17                1
1620                1                   4 2022-04-17                1
1710                1                   5 2022-04-17                1

In [8]:
print(df_eng.head(3))

  searchDate flightDate  startingAirport  destinationAirport  travelDuration  \
0 2022-04-16 2022-04-17                0                   1             149
1 2022-04-16 2022-04-17                0                   1             150
2 2022-04-16 2022-04-17                0                   1             150

   isRefundable  isNonStop  totalFare  seatsRemaining  airlineCode  \
0         False       True      248.6               9           47
1         False       True      248.6               4           47
2         False       True      248.6               9           47

   cabinClass  travelDistance  departureTimeHour  departureTimeFloat  \
0          25           947.0                 16           16.950000
1          25           947.0                 10           10.500000
2          25           947.0                 15           15.583333

   daysToDeparture  departureDayOfWeek  isWeekend  isHoliday  nearHoliday
0                1                   6       True       True         True
1                1                   6       True       True         True
2                1                   6       True       True         True

In [10]:
# Sort the data before applying group-based operations
df_eng = df_eng.sort_values(by=['startingAirport', 'destinationAirport', 'flightDate', 'airlineCode', 'cabinClass', 'daysToDeparture'])
print(df_eng.head(10))

   searchDate flightDate  startingAirport  destinationAirport  travelDuration  \
16 2022-04-16 2022-04-17                0                   1             158
35 2022-04-16 2022-04-17                0                   1             164
6  2022-04-16 2022-04-17                0                   1             252
7  2022-04-16 2022-04-17                0                   1             318
8  2022-04-16 2022-04-17                0                   1             332
9  2022-04-16 2022-04-17                0                   1             398
11 2022-04-16 2022-04-17                0                   1             345
12 2022-04-16 2022-04-17                0                   1             359
13 2022-04-16 2022-04-17                0                   1             438
17 2022-04-16 2022-04-17                0                   1             257

    isRefundable  isNonStop  totalFare  seatsRemaining  airlineCode  \
16         False       True     300.10               7           19
35         False       True     410.18               1           19
6          False      False     251.10               3           24
7          False      False     251.10               3           24
8          False      False     251.10               7           24
9          False      False     251.10               7           24
11         False      False     252.60               3           24
12         False      False     252.60               5           24
13         False      False     252.60               3           24
17         False      False     302.11               1           24

    cabinClass  travelDistance  departureTimeHour  departureTimeFloat  \
16          25           947.0                 14           14.750000
35          25           947.0                 22           22.116667
6           12           956.0                 12           12.333333
7           12           956.0                 12           12.333333
8           12           956.0                 11           11.000000
9           12           956.0                 11           11.000000
11          12          1462.0                 18           18.650000
12          12          1462.0                 22           22.000000
13          12          1462.0                 18           18.650000
17          12           956.0                 22           22.250000

    daysToDeparture  departureDayOfWeek  isWeekend  isHoliday  nearHoliday
16                1                   6       True       True         True
35                1                   6       True       True         True
6                 1                   6       True       True         True
7                 1                   6       True       True         True
8                 1                   6       True       True         True
9                 1                   6       True       True         True
11                1                   6       True       True         True
12                1                   6       True       True         True
13                1                   6       True       True         True
17                1                   6       True       True         True

In [11]:
df_eng['daysToDeparture'].unique()

<IntegerArray>
[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57,
 58, 59, 60]
Length: 60, dtype: Int64

In [12]:
print(df_eng.shape)

(800000, 19)

In [13]:
# Define how many days of lag to create
lag_days = 7

# Create lag features within each flight group
for lag in range(1, lag_days + 1):
    df_eng[f'totalFare_T-{lag}'] = df_eng.groupby(
        ['startingAirport', 'destinationAirport', 'flightDate', 'airlineCode', 'cabinClass']
    )['totalFare'].shift(lag)

# Drop rows where any lag feature is missing (ensuring full 7-day history)
df_eng = df_eng.dropna(subset=[f'totalFare_T-{lag}' for lag in range(1, lag_days + 1)])

# Reset index after dropping rows
df_eng = df_eng.reset_index(drop=True)

In [14]:
print(df_eng.head(10))

  searchDate flightDate  startingAirport  destinationAirport  travelDuration  \
0 2022-04-16 2022-04-17                0                   1             257
1 2022-04-16 2022-04-17                0                   1             276
2 2022-04-16 2022-04-17                0                   1             285
3 2022-04-16 2022-04-17                0                   1             362
4 2022-04-16 2022-04-17                0                   1             374
5 2022-04-16 2022-04-17                0                   1             155
6 2022-04-16 2022-04-17                0                   1             158
7 2022-04-17 2022-04-18                0                   1             438
8 2022-04-17 2022-04-18                0                   1             345
9 2022-04-17 2022-04-18                0                   1             359

   isRefundable  isNonStop  totalFare  seatsRemaining  airlineCode  ...  \
0         False      False     302.11               1           24  ...
1         False      False     302.11               1           24  ...
2         False      False     302.11               1           24  ...
3         False      False     302.11               1           24  ...
4         False      False     302.11               1           24  ...
5         False       True     398.60               2           47  ...
6         False       True     398.60               9           47  ...
7         False      False     251.10               7           24  ...
8         False      False     252.60               4           24  ...
9         False      False     252.60               7           24  ...

   isWeekend  isHoliday  nearHoliday  totalFare_T-1  totalFare_T-2  \
0       True       True         True         252.60         252.60
1       True       True         True         302.11         252.60
2       True       True         True         302.11         302.11
3       True       True         True         302.11         302.11
4       True       True         True         302.11         302.11
5       True       True         True         398.60         328.60
6       True       True         True         398.60         398.60
7      False      False         True         251.10         251.10
8      False      False         True         251.10         251.10
9      False      False         True         252.60         251.10

   totalFare_T-3  totalFare_T-4  totalFare_T-5  totalFare_T-6  totalFare_T-7
0         252.60         251.10          251.1          251.1          251.1
1         252.60         252.60          251.1          251.1          251.1
2         252.60         252.60          252.6          251.1          251.1
3         302.11         252.60          252.6          252.6          251.1
4         302.11         302.11          252.6          252.6          252.6
5         248.60         248.60          248.6          248.6          248.6
6         328.60         248.60          248.6          248.6          248.6
7         251.10         251.10          251.1          251.1          251.1
8         251.10         251.10          251.1          251.1          251.1
9         251.10         251.10          251.1          251.1          251.1

[10 rows x 26 columns]

In [16]:
print(df_eng.shape)

(299995, 26)

In [17]:
# Check number of unique airlines per (startingAirport, destinationAirport, flightDate)
airline_counts = df_eng.groupby(['startingAirport', 'destinationAirport', 'flightDate'])['airlineCode'].nunique()

# Check number of unique cabin classes per (startingAirport, destinationAirport, flightDate)
cabin_counts = df_eng.groupby(['startingAirport', 'destinationAirport', 'flightDate'])['cabinClass'].nunique()

# Display summary stats
print("Airline count per flight route:")
print(airline_counts.describe())  # Check min, max, mean, std

print("\nCabin class count per flight route:")
print(cabin_counts.describe())  # Check min, max, mean, std

# Check sample cases where there's only 1 airline per flight route
print("\nSample rows with only 1 airline per flight route:")
print(airline_counts[airline_counts == 1].head(10))

# Check sample cases where there's only 1 cabin class per flight route
print("\nSample rows with only 1 cabin class per flight route:")
print(cabin_counts[cabin_counts == 1].head(10))

Airline count per flight route:
count    12018.000000
mean         2.760359
std          1.599176
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max         11.000000
Name: airlineCode, dtype: float64

Cabin class count per flight route:
count    12018.000000
mean         1.625395
std          0.701378
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          5.000000
Name: cabinClass, dtype: float64

Sample rows with only 1 airline per flight route:
startingAirport  destinationAirport  flightDate
0                1                   2022-06-04    1
                                     2022-06-07    1
                                     2022-06-10    1
                                     2022-06-11    1
                 2                   2022-05-09    1
                                     2022-05-12    1
                                     2022-05-17    1
                                     2022-05-19    1
                                     2022-05-23    1
                                     2022-05-24    1
Name: airlineCode, dtype: int64

Sample rows with only 1 cabin class per flight route:
startingAirport  destinationAirport  flightDate
0                1                   2022-05-11    1
                                     2022-06-04    1
                                     2022-06-06    1
                                     2022-06-10    1
                                     2022-06-11    1
                                     2022-06-13    1
                                     2022-06-15    1
                 2                   2022-04-24    1
                                     2022-05-09    1
                                     2022-05-12    1
Name: cabinClass, dtype: int64

In [20]:
df_eng = apply_feature_engineering(df)

Starting feature engineering...
Converting date columns...
Extracting travel duration...
Imputing missing travel distances...
Processing departure times...
Extracting departure hour and float...
Processing airline and cabin class codes...
Applying Label Encoding...
Label Encoding complete!
Calculating days to departure...
Processing holiday features...
Dropping unnecessary columns...
Feature engineering complete!

In [ ]:
# df_eng_copy = df_eng
# df_eng= df_eng_copy

In [65]:
df_eng = df_eng.sort_values(by=['startingAirport', 'destinationAirport', 'flightDate', 'daysToDeparture', 'totalFare'])
print(df_eng.head(10))  # Show first 10 rows to confirm sorting

  searchDate flightDate  startingAirport  destinationAirport  travelDuration  \
0 2022-04-16 2022-04-17                0                   1             149
1 2022-04-16 2022-04-17                0                   1             150
2 2022-04-16 2022-04-17                0                   1             150
3 2022-04-16 2022-04-17                0                   1             152
4 2022-04-16 2022-04-17                0                   1             154
5 2022-04-16 2022-04-17                0                   1             158
6 2022-04-16 2022-04-17                0                   1             252
7 2022-04-16 2022-04-17                0                   1             318
8 2022-04-16 2022-04-17                0                   1             332
9 2022-04-16 2022-04-17                0                   1             398

   isRefundable  isNonStop  totalFare  seatsRemaining  airlineCode  \
0         False       True      248.6               9           47
1         False       True      248.6               4           47
2         False       True      248.6               9           47
3         False       True      248.6               8           47
4         False       True      248.6               9           47
5         False       True      248.6               7           41
6         False      False      251.1               3           24
7         False      False      251.1               3           24
8         False      False      251.1               7           24
9         False      False      251.1               7           24

   cabinClass  travelDistance  departureTimeHour  departureTimeFloat  \
0          25           947.0                 16           16.950000
1          25           947.0                 10           10.500000
2          25           947.0                 15           15.583333
3          25           947.0                 17           17.983333
4          25           947.0                 13           13.983333
5          25           947.0                 14           14.750000
6          12           956.0                 12           12.333333
7          12           956.0                 12           12.333333
8          12           956.0                 11           11.000000
9          12           956.0                 11           11.000000

   daysToDeparture  departureDayOfWeek  isWeekend  isHoliday  nearHoliday
0                1                   6       True       True         True
1                1                   6       True       True         True
2                1                   6       True       True         True
3                1                   6       True       True         True
4                1                   6       True       True         True
5                1                   6       True       True         True
6                1                   6       True       True         True
7                1                   6       True       True         True
8                1                   6       True       True         True
9                1                   6       True       True         True

In [66]:
df_cheapest = df_eng.loc[
    df_eng.groupby(['startingAirport', 'destinationAirport', 'flightDate', 'daysToDeparture'])['totalFare'].idxmin()
].reset_index(drop=True)

print("Shape after filtering:", df_cheapest.shape)
print(df_cheapest.head(10))

Shape after filtering: (20841, 19)
  searchDate flightDate  startingAirport  destinationAirport  travelDuration  \
0 2022-04-16 2022-04-17                0                   1             149
1 2022-04-17 2022-04-18                0                   1             152
2 2022-04-16 2022-04-18                0                   1             150
3 2022-04-18 2022-04-19                0                   1             149
4 2022-04-17 2022-04-19                0                   1             164
5 2022-04-16 2022-04-19                0                   1             164
6 2022-04-18 2022-04-20                0                   1             318
7 2022-04-17 2022-04-20                0                   1             318
8 2022-04-16 2022-04-20                0                   1             252
9 2022-04-18 2022-04-21                0                   1             318

   isRefundable  isNonStop  totalFare  seatsRemaining  airlineCode  \
0         False       True      248.6               9           47
1         False       True      248.6               9           47
2         False       True      248.6               1           47
3         False       True      248.6               6           47
4         False       True      188.6               7           41
5         False       True      188.6               7           41
6         False      False      196.1               7           24
7         False      False      196.1               7           24
8         False      False      196.1               1           24
9         False      False      196.1               2           24

   cabinClass  travelDistance  departureTimeHour  departureTimeFloat  \
0          25           947.0                 16           16.950000
1          25           947.0                  1            1.416667
2          25           947.0                 15           15.666667
3          25           947.0                 16           16.950000
4          25           947.0                 22           22.383333
5          25           947.0                 22           22.383333
6          12           956.0                 12           12.333333
7          12           956.0                 12           12.333333
8          12           956.0                 12           12.333333
9          12           956.0                 12           12.333333

   daysToDeparture  departureDayOfWeek  isWeekend  isHoliday  nearHoliday
0                1                   6       True       True         True
1                1                   0      False      False         True
2                2                   0      False      False         True
3                1                   1      False      False         True
4                2                   1      False      False         True
5                3                   1      False      False         True
6                2                   2      False      False         True
7                3                   2      False      False         True
8                4                   2      False      False         True
9                3                   3      False      False        False

In [67]:
df_cheapest = df_cheapest.drop(columns=['airlineCode', 'cabinClass'])

print("Shape after dropping airline & cabin class:", df_cheapest.shape)
print(df_cheapest.head(10))

Shape after dropping airline & cabin class: (20841, 17)
  searchDate flightDate  startingAirport  destinationAirport  travelDuration  \
0 2022-04-16 2022-04-17                0                   1             149
1 2022-04-17 2022-04-18                0                   1             152
2 2022-04-16 2022-04-18                0                   1             150
3 2022-04-18 2022-04-19                0                   1             149
4 2022-04-17 2022-04-19                0                   1             164
5 2022-04-16 2022-04-19                0                   1             164
6 2022-04-18 2022-04-20                0                   1             318
7 2022-04-17 2022-04-20                0                   1             318
8 2022-04-16 2022-04-20                0                   1             252
9 2022-04-18 2022-04-21                0                   1             318

   isRefundable  isNonStop  totalFare  seatsRemaining  travelDistance  \
0         False       True      248.6               9           947.0
1         False       True      248.6               9           947.0
2         False       True      248.6               1           947.0
3         False       True      248.6               6           947.0
4         False       True      188.6               7           947.0
5         False       True      188.6               7           947.0
6         False      False      196.1               7           956.0
7         False      False      196.1               7           956.0
8         False      False      196.1               1           956.0
9         False      False      196.1               2           956.0

   departureTimeHour  departureTimeFloat  daysToDeparture  departureDayOfWeek  \
0                 16           16.950000                1                   6
1                  1            1.416667                1                   0
2                 15           15.666667                2                   0
3                 16           16.950000                1                   1
4                 22           22.383333                2                   1
5                 22           22.383333                3                   1
6                 12           12.333333                2                   2
7                 12           12.333333                3                   2
8                 12           12.333333                4                   2
9                 12           12.333333                3                   3

   isWeekend  isHoliday  nearHoliday
0       True       True         True
1      False      False         True
2      False      False         True
3      False      False         True
4      False      False         True
5      False      False         True
6      False      False         True
7      False      False         True
8      False      False         True
9      False      False        False

In [68]:
df_cheapest.groupby(['startingAirport', 'destinationAirport', 'flightDate'])['daysToDeparture'].median().describe()

count      14270.0
mean     29.927786
std      17.643629
min            1.0
25%           14.5
50%           30.0
75%           45.0
max           60.0
Name: daysToDeparture, dtype: Float64

In [69]:
df_cheapest.groupby(['startingAirport', 'destinationAirport'])['daysToDeparture'].nunique().describe()

count    234.000000
mean      59.982906
std        0.129900
min       59.000000
25%       60.000000
50%       60.000000
75%       60.000000
max       60.000000
Name: daysToDeparture, dtype: float64

In [70]:
print(df_cheapest.groupby(['startingAirport', 'destinationAirport', 'flightDate'])['daysToDeparture'].describe())

                                               count  mean       std   min  \
startingAirport destinationAirport flightDate
0               1                  2022-04-17    1.0   1.0      <NA>   1.0
                                   2022-04-18    2.0   1.5  0.707107   1.0
                                   2022-04-19    3.0   2.0       1.0   1.0
                                   2022-04-20    3.0   3.0       1.0   2.0
                                   2022-04-21    3.0   4.0       1.0   3.0
...                                              ...   ...       ...   ...
15              14                 2022-06-12    1.0  56.0      <NA>  56.0
                                   2022-06-13    1.0  57.0      <NA>  57.0
                                   2022-06-14    1.0  58.0      <NA>  58.0
                                   2022-06-15    1.0  59.0      <NA>  59.0
                                   2022-06-16    1.0  60.0      <NA>  60.0

                                                25%   50%   75%   max
startingAirport destinationAirport flightDate
0               1                  2022-04-17   1.0   1.0   1.0   1.0
                                   2022-04-18  1.25   1.5  1.75   2.0
                                   2022-04-19   1.5   2.0   2.5   3.0
                                   2022-04-20   2.5   3.0   3.5   4.0
                                   2022-04-21   3.5   4.0   4.5   5.0
...                                             ...   ...   ...   ...
15              14                 2022-06-12  56.0  56.0  56.0  56.0
                                   2022-06-13  57.0  57.0  57.0  57.0
                                   2022-06-14  58.0  58.0  58.0  58.0
                                   2022-06-15  59.0  59.0  59.0  59.0
                                   2022-06-16  60.0  60.0  60.0  60.0

[14270 rows x 8 columns]

In [71]:
# Group by (startingAirport, destinationAirport, flightDate)
df_routedays = df_cheapest.groupby(['startingAirport', 'destinationAirport', 'flightDate'])

# Filter out groups where min(daysToDeparture) is 30 or less
valid_routes = df_routedays.filter(lambda x: x['daysToDeparture'].min() > 30).reset_index()

# Print the number of valid routes and some sample data
print("Number of valid routes:", valid_routes.shape[0])
print(valid_routes.head(20))

Number of valid routes: 7016
    index searchDate flightDate  startingAirport  destinationAirport  \
0      60 2022-04-17 2022-05-18                0                   1
1      61 2022-04-17 2022-05-19                0                   1
2      62 2022-04-17 2022-05-20                0                   1
3      63 2022-04-17 2022-05-21                0                   1
4      64 2022-04-17 2022-05-22                0                   1
5      65 2022-04-17 2022-05-23                0                   1
6      66 2022-04-17 2022-05-24                0                   1
7      67 2022-04-17 2022-05-25                0                   1
8      68 2022-04-17 2022-05-26                0                   1
9      69 2022-04-17 2022-05-27                0                   1
10     70 2022-04-17 2022-05-28                0                   1
11     71 2022-04-17 2022-05-29                0                   1
12     72 2022-04-17 2022-05-30                0                   1
13     73 2022-04-17 2022-05-31                0                   1
14     74 2022-04-17 2022-06-01                0                   1
15     75 2022-04-17 2022-06-02                0                   1
16     76 2022-04-17 2022-06-03                0                   1
17     77 2022-04-17 2022-06-04                0                   1
18     78 2022-04-17 2022-06-05                0                   1
19     79 2022-04-17 2022-06-06                0                   1

    travelDuration  isRefundable  isNonStop  totalFare  seatsRemaining  \
0              155         False       True      66.97               0
1              155         False       True      87.59               0
2              155         False       True      87.59               0
3              503         False      False      91.68               0
4              155         False       True     130.59               0
5              155         False       True     160.59               0
6              155         False       True      66.97               0
7              518         False      False     115.78               0
8              518         False      False     114.78               0
9              499         False      False     161.58               0
10             518         False      False     138.58               0
11             148         False       True     160.59               0
12             148         False       True     220.59               0
13             148         False       True     130.59               0
14             148         False       True      87.59               0
15             148         False       True      87.59               0
16             148         False       True     130.59               0
17             148         False       True      87.59               0
18             148         False       True     130.59               0
19             148         False       True      87.59               0

    travelDistance  departureTimeHour  departureTimeFloat  daysToDeparture  \
0      1579.735292                 10           10.416667               31
1      1579.735292                 10           10.416667               32
2      1579.735292                 10           10.416667               33
3      1579.735292                 12           12.933333               34
4      1579.735292                 10           10.416667               35
5      1579.735292                 10           10.416667               36
6      1579.735292                 10           10.416667               37
7      1579.735292                 19           19.483333               38
8      1579.735292                 19           19.483333               39
9      1579.735292                 13           13.083333               40
10     1579.735292                 19           19.483333               41
11     1579.735292                 10           10.416667               42
12     1579.735292                 10           10.416667               43
13     1579.735292                 10           10.416667               44
14     1579.735292                 10           10.416667               45
15     1579.735292                 10           10.416667               46
16     1579.735292                 10           10.416667               47
17     1579.735292                 10           10.416667               48
18     1579.735292                 10           10.416667               49
19     1579.735292                 10           10.416667               50

    departureDayOfWeek  isWeekend  isHoliday  nearHoliday
0                    2      False      False        False
1                    3      False      False        False
2                    4      False      False        False
3                    5       True      False        False
4                    6       True      False        False
5                    0      False      False        False
6                    1      False      False        False
7                    2      False      False        False
8                    3      False      False        False
9                    4      False      False        False
10                   5       True      False        False
11                   6       True      False        False
12                   0      False      False        False
13                   1      False      False        False
14                   2      False      False        False
15                   3      False      False        False
16                   4      False      False        False
17                   5       True      False        False
18                   6       True      False        False
19                   0      False      False        False

In [72]:
# Check unique daysToDeparture per (startingAirport, destinationAirport)
df_days_per_route = valid_routes.groupby(['startingAirport', 'destinationAirport'])['daysToDeparture'].nunique()

# Summary statistics
print("📊 Unique daysToDeparture per (route):")
print(df_days_per_route.describe())

# Check how many routes have 7+ unique daysToDeparture
print("\n🔍 Routes with at least 7 daysToDeparture:")
print(df_days_per_route[df_days_per_route >= 7])

📊 Unique daysToDeparture per (route):
count    234.000000
mean      29.982906
std        0.129900
min       29.000000
25%       30.000000
50%       30.000000
75%       30.000000
max       30.000000
Name: daysToDeparture, dtype: float64

🔍 Routes with at least 7 daysToDeparture:
startingAirport  destinationAirport
0                1                     30
                 2                     30
                 3                     30
                 4                     30
                 5                     30
                                       ..
15               10                    30
                 11                    30
                 12                    30
                 13                    30
                 14                    30
Name: daysToDeparture, Length: 234, dtype: int64

In [73]:
# Keep only the 234 valid routes
df_lags = valid_routes[
    valid_routes.set_index(['startingAirport', 'destinationAirport']).index.isin(df_days_per_route[df_days_per_route >= 30].index)
].copy()

# Ensure sorting before computing lags
df_lags = df_lags.sort_values(by=['startingAirport', 'destinationAirport', 'flightDate', 'daysToDeparture'])

# Compute lagged price features
lag_days = 7
for lag in range(1, lag_days + 1):
    df_lags[f'totalFare_T-{lag}'] = df_lags.groupby(
        ['startingAirport', 'destinationAirport']
    )['totalFare'].shift(lag)

# Check NaNs per lag column
print("NaN counts per lag feature AFTER FIX:")
print(df_lags[[f'totalFare_T-{lag}' for lag in range(1, 8)]].isna().sum())

# Display a sample of the dataset with lagged features
df_lags[['flightDate', 'startingAirport', 'destinationAirport', 'daysToDeparture', 'totalFare'] + [f'totalFare_T-{lag}' for lag in range(1, 8)]].head(20)

NaN counts per lag feature AFTER FIX:
totalFare_T-1     230
totalFare_T-2     460
totalFare_T-3     690
totalFare_T-4     920
totalFare_T-5    1150
totalFare_T-6    1380
totalFare_T-7    1610
dtype: int64

,flightDate,daysToDeparture,totalFare,totalFare_T-1,totalFare_T-2,totalFare_T-3,totalFare_T-4,totalFare_T-5,totalFare_T-6,totalFare_T-7
0,2022-05-18,31,66.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-19,32,87.59,66.97,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-05-20,33,87.59,87.59,66.97,NaN,NaN,NaN,NaN,NaN
3,2022-05-21,34,91.68,87.59,87.59,66.97,NaN,NaN,NaN,NaN
4,2022-05-22,35,130.59,91.68,87.59,87.59,66.97,NaN,NaN,NaN
5,2022-05-23,36,160.59,130.59,91.68,87.59,87.59,66.97,NaN,NaN
6,2022-05-24,37,66.97,160.59,130.59,91.68,87.59,87.59,66.97,NaN
7,2022-05-25,38,115.78,66.97,160.59,130.59,91.68,87.59,87.59,66.97
8,2022-05-26,39,114.78,115.78,66.97,160.59,130.59,91.68,87.59,87.59
9,2022-05-27,40,161.58,114.78,115.78,66.97,160.59,130.59,91.68,87.59
10,2022-05-28,41,138.58,161.58,114.78,115.78,66.97,160.59,130.59,91.68
11,2022-05-29,42,160.59,138.58,161.58,114.78,115.78,66.97,160.59,130.59
12,2022-05-30,43,220.59,160.59,138.58,161.58,114.78,115.78,66.97,160.59
13,2022-05-31,44,130.59,220.59,160.59,138.58,161.58,114.78,115.78,66.97
14,2022-06-01,45,87.59,130.59,220.59,160.59,138.58,161.58,114.78,115.78
15,2022-06-02,46,87.59,87.59,130.59,220.59,160.59,138.58,161.58,114.78
16,2022-06-03,47,130.59,87.59,87.59,130.59,220.59,160.59,138.58,161.58
17,2022-06-04,48,87.59,130.59,87.59,87.59,130.59,220.59,160.59,138.58
18,2022-06-05,49,130.59,87.59,130.59,87.59,87.59,130.59,220.59,160.59
19,2022-06-06,50,87.59,130.59,87.59,130.59,87.59,87.59,130.59,220.59

In [74]:
# Drop rows where we don’t have a full 7-day price history
df_lags = df_lags.dropna(subset=[f'totalFare_T-{lag}' for lag in range(1, 8)])

# Check shape after dropping NaNs
print("Shape after final lag calculation:", df_lags.shape)

# Display a sample to confirm the data looks correct
print(df_lags[['flightDate', 'daysToDeparture', 'totalFare'] + [f'totalFare_T-{lag}' for lag in range(1, 8)]].head(20))

Shape after final lag calculation: (5290, 25)
   flightDate  daysToDeparture  totalFare  totalFare_T-1  totalFare_T-2  \
7  2022-05-25               38     115.78          66.97         160.59
8  2022-05-26               39     114.78         115.78          66.97
9  2022-05-27               40     161.58         114.78         115.78
10 2022-05-28               41     138.58         161.58         114.78
11 2022-05-29               42     160.59         138.58         161.58
12 2022-05-30               43     220.59         160.59         138.58
13 2022-05-31               44     130.59         220.59         160.59
14 2022-06-01               45      87.59         130.59         220.59
15 2022-06-02               46      87.59          87.59         130.59
16 2022-06-03               47     130.59          87.59          87.59
17 2022-06-04               48      87.59         130.59          87.59
18 2022-06-05               49     130.59          87.59         130.59
19 2022-06-06               50      87.59         130.59          87.59
20 2022-06-07               51      87.59          87.59         130.59
21 2022-06-08               52      87.59          87.59          87.59
22 2022-06-09               53     130.58          87.59          87.59
23 2022-06-10               54     130.58         130.58          87.59
24 2022-06-11               55     110.59         130.58         130.58
25 2022-06-12               56     130.59         110.59         130.58
26 2022-06-13               57     110.59         130.59         110.59

    totalFare_T-3  totalFare_T-4  totalFare_T-5  totalFare_T-6  totalFare_T-7
7          130.59          91.68          87.59          87.59          66.97
8          160.59         130.59          91.68          87.59          87.59
9           66.97         160.59         130.59          91.68          87.59
10         115.78          66.97         160.59         130.59          91.68
11         114.78         115.78          66.97         160.59         130.59
12         161.58         114.78         115.78          66.97         160.59
13         138.58         161.58         114.78         115.78          66.97
14         160.59         138.58         161.58         114.78         115.78
15         220.59         160.59         138.58         161.58         114.78
16         130.59         220.59         160.59         138.58         161.58
17          87.59         130.59         220.59         160.59         138.58
18          87.59          87.59         130.59         220.59         160.59
19         130.59          87.59          87.59         130.59         220.59
20          87.59         130.59          87.59          87.59         130.59
21         130.59          87.59         130.59          87.59          87.59
22          87.59         130.59          87.59         130.59          87.59
23          87.59          87.59         130.59          87.59         130.59
24          87.59          87.59          87.59         130.59          87.59
25         130.58          87.59          87.59          87.59         130.59
26         130.58         130.58          87.59          87.59          87.59

In [75]:
# Count the number of unique (startingAirport, destinationAirport, flightDate) groups
num_flights = df_lags.groupby(['startingAirport', 'destinationAirport', 'flightDate']).ngroups

print(f"Number of unique flights in the dataset: {num_flights}")

Number of unique flights in the dataset: 5290