In [1]:
# Data Processing & Feature Engineering
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.utils import shuffle

# Model Selection & Evaluation
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error

# Tree-based Models
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

# Deep Learning (RNN, LSTM) - TensorFlow/Keras
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import SimpleRNN, LSTM, Dense, Dropout

# Visualization
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns

# Custom Modules
from data_preprocessing import load_data, apply_feature_engineering

In [2]:
df = load_data()

In [3]:
df_eng = apply_feature_engineering(df)

Starting feature engineering...
Converting date columns...
Extracting travel duration...
Imputing missing travel distances...
Processing departure times...
Processing airline and cabin class codes...
Applying Label Encoding...
Label Encoding complete!
Calculating days to departure...
Processing holiday features...
Dropping unnecessary columns...
Feature engineering complete!

In [4]:
df_eng.head()

,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isRefundable,isNonStop,totalFare,seatsRemaining,airlineCode,cabinClass,travelDistance,departureTimeHour,daysToDeparture,departureDayOfWeek,isWeekend,isHoliday,nearHoliday
0,2022-04-16,2022-04-17,0,1,149,False,True,248.6,9,70,42,947.0,12,1,6,True,True,True
1,2022-04-16,2022-04-17,0,1,150,False,True,248.6,4,70,42,947.0,06,1,6,True,True,True
2,2022-04-16,2022-04-17,0,1,150,False,True,248.6,9,70,42,947.0,11,1,6,True,True,True
3,2022-04-16,2022-04-17,0,1,152,False,True,248.6,8,70,42,947.0,13,1,6,True,True,True
4,2022-04-16,2022-04-17,0,1,154,False,True,248.6,9,70,42,947.0,09,1,6,True,True,True

In [5]:
# Sorted DataFrame
sorted_df = df_eng.sort_values(
    by=['flightDate', 'departureTimeHour', 'startingAirport', 'destinationAirport', 'daysToDeparture'],
    ascending=[True, True, True, True, False]
)

sorted_df.head()

,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isRefundable,isNonStop,totalFare,seatsRemaining,airlineCode,cabinClass,travelDistance,departureTimeHour,daysToDeparture,departureDayOfWeek,isWeekend,isHoliday,nearHoliday
1533,2022-04-16,2022-04-17,3,0,172,False,True,273.99,4,98,42,1207.0,00,1,6,True,True,True
1534,2022-04-16,2022-04-17,3,0,160,False,True,296.61,9,70,42,1207.0,00,1,6,True,True,True
1546,2022-04-16,2022-04-17,3,0,462,False,False,304.11,3,34,15,1574.0,00,1,6,True,True,True
1573,2022-04-16,2022-04-17,3,1,431,False,False,321.10,4,34,15,2074.0,00,1,6,True,True,True
1582,2022-04-16,2022-04-17,3,1,385,False,False,322.60,9,83,15,2154.0,00,1,6,True,True,True

In [6]:
# Unique combinations
unique_sorted_df = sorted_df.drop_duplicates(
    subset=['flightDate', 'departureTimeHour', 'startingAirport', 'destinationAirport']
)

In [7]:
sorted_df[['flightDate', 'departureTimeHour', 'startingAirport', 'destinationAirport', 'daysToDeparture']].head(60)

,flightDate,departureTimeHour,startingAirport,destinationAirport,daysToDeparture
1533,2022-04-17,00,3,0,1
1534,2022-04-17,00,3,0,1
1546,2022-04-17,00,3,0,1
1573,2022-04-17,00,3,1,1
1582,2022-04-17,00,3,1,1
1584,2022-04-17,00,3,1,1
1626,2022-04-17,00,3,2,1
1630,2022-04-17,00,3,2,1
1631,2022-04-17,00,3,2,1
1675,2022-04-17,00,3,4,1
1677,2022-04-17,00,3,4,1
1699,2022-04-17,00,3,5,1
1708,2022-04-17,00,3,5,1
1718,2022-04-17,00,3,5,1
1729,2022-04-17,00,3,5,1
1743,2022-04-17,00,3,6,1
1747,2022-04-17,00,3,6,1
1754,2022-04-17,00,3,6,1
1770,2022-04-17,00,3,6,1
1836,2022-04-17,00,3,8,1
1845,2022-04-17,00,3,8,1
1920,2022-04-17,00,3,10,1
1923,2022-04-17,00,3,10,1
1932,2022-04-17,00,3,10,1
1939,2022-04-17,00,3,10,1
1953,2022-04-17,00,3,10,1
1957,2022-04-17,00,3,11,1
1978,2022-04-17,00,3,11,1
1982,2022-04-17,00,3,11,1
2004,2022-04-17,00,3,13,1
2008,2022-04-17,00,3,13,1
2009,2022-04-17,00,3,13,1
2037,2022-04-17,00,3,14,1
2042,2022-04-17,00,3,14,1
2047,2022-04-17,00,3,14,1
2048,2022-04-17,00,3,14,1
4282,2022-04-17,00,9,0,1
4437,2022-04-17,00,9,1,1
4443,2022-04-17,00,9,1,1
4604,2022-04-17,00,9,4,1
4748,2022-04-17,00,9,6,1
4756,2022-04-17,00,9,6,1
4786,2022-04-17,00,9,6,1
4833,2022-04-17,00,9,8,1
4915,2022-04-17,00,9,10,1
4925,2022-04-17,00,9,10,1
4964,2022-04-17,00,9,10,1
4994,2022-04-17,00,9,11,1
5009,2022-04-17,00,9,11,1
5110,2022-04-17,00,9,14,1
7515,2022-04-17,00,15,0,1
7533,2022-04-17,00,15,0,1
7630,2022-04-17,00,15,1,1
7694,2022-04-17,00,15,3,1
7745,2022-04-17,00,15,4,1
7749,2022-04-17,00,15,4,1
7756,2022-04-17,00,15,4,1
7879,2022-04-17,00,15,6,1
8071,2022-04-17,00,15,10,1
8102,2022-04-17,00,15,10,1

In [8]:
sorted_df[['flightDate', 'departureTimeHour', 'startingAirport', 'destinationAirport', 'daysToDeparture']].iloc[40000000:40000030]

,flightDate,departureTimeHour,startingAirport,destinationAirport,daysToDeparture
30194666,2022-08-12,14,14,4,47
30724300,2022-08-12,14,14,4,46
31265936,2022-08-12,14,14,4,45
31817281,2022-08-12,14,14,4,44
32370436,2022-08-12,14,14,4,43
32925772,2022-08-12,14,14,4,42
33485408,2022-08-12,14,14,4,41
34035168,2022-08-12,14,14,4,40
34583271,2022-08-12,14,14,4,39
35253331,2022-08-12,14,14,4,38
35900759,2022-08-12,14,14,4,37
36441956,2022-08-12,14,14,4,36
36988287,2022-08-12,14,14,4,35
37536601,2022-08-12,14,14,4,34
38092800,2022-08-12,14,14,4,33
38647051,2022-08-12,14,14,4,32
39198102,2022-08-12,14,14,4,31
39746255,2022-08-12,14,14,4,30
40275181,2022-08-12,14,14,4,29
40831484,2022-08-12,14,14,4,28
41386791,2022-08-12,14,14,4,27
41950449,2022-08-12,14,14,4,26
42512134,2022-08-12,14,14,4,25
43072923,2022-08-12,14,14,4,24
43632377,2022-08-12,14,14,4,23
44194428,2022-08-12,14,14,4,22
44758721,2022-08-12,14,14,4,21
45331278,2022-08-12,14,14,4,20
45909249,2022-08-12,14,14,4,19
46485417,2022-08-12,14,14,4,18

In [12]:
import pandas as pd
from tqdm.notebook import tqdm
from dask.diagnostics import ProgressBar
import dask.dataframe as dd

def add_historical_price_features(df):
    """
    Adds historical price features (t-1, t-2, ..., t-7) with visual feedback on slow operations.
    Uses Dask to sort the DataFrame with progress feedback and pandas groupby+shift for lag features.
    """
    df = df.copy()

    df['flightDate'] = pd.to_datetime(df['flightDate'])
    df['searchDate'] = pd.to_datetime(df['searchDate'])

    ddf = dd.from_pandas(df, npartitions=8)
    sort_columns = ['flightDate', 'departureTimeHour', 'startingAirport', 'destinationAirport', 'searchDate']

    print("Starting sort operation...")
    with ProgressBar():
        ddf = ddf.sort_values(by=sort_columns)
        ddf = ddf.compute()
    df = ddf
    print("Sort completed.")

    group_cols = ['flightDate', 'departureTimeHour', 'startingAirport', 'destinationAirport']

    for lag in tqdm(range(1, 8), desc="Creating lag features"):
        df[f'price_t_minus_{lag}'] = df.groupby(group_cols)['totalFare'].shift(lag)

    print("Historical price features added successfully!")
    return df

In [13]:
df_with_history = add_historical_price_features(df_eng)

Starting sort operation...
[########################################] | 100% Completed | 18.52 s
Sort completed.

Creating lag features:   0%|          | 0/7 [00:00<?, ?it/s]

Historical price features added successfully!

In [11]:
# Checking 
columns_to_show = ['searchDate', 'flightDate', 'startingAirport', 'destinationAirport', 
                   'departureTimeHour', 'totalFare', 'price_t_minus_1', 'price_t_minus_2', 
                   'price_t_minus_3', 'price_t_minus_4', 'price_t_minus_5', 'price_t_minus_6', 
                   'price_t_minus_7']
print("\nSample data with historical prices:")
display(df_with_history[columns_to_show].head(10))

#  Number of on-null values for each historical price
print("\nCoverage statistics:")
non_null_counts = {}
for i in range(1, 8):
    col = f'price_t_minus_{i}'
    non_null_counts[col] = df_with_history[col].notna().sum()
    non_null_percentage = (non_null_counts[col] / len(df_with_history)) * 100
    print(f"{col}: {non_null_counts[col]} non-null values ({non_null_percentage:.2f}%)")

Sample data with historical prices:

,searchDate,flightDate,startingAirport,destinationAirport,departureTimeHour,totalFare,price_t_minus_1,price_t_minus_2,price_t_minus_3,price_t_minus_4,price_t_minus_5,price_t_minus_6,price_t_minus_7
1533,2022-04-16,2022-04-17,3,0,00,273.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1534,2022-04-16,2022-04-17,3,0,00,296.61,273.99,NaN,NaN,NaN,NaN,NaN,NaN
1546,2022-04-16,2022-04-17,3,0,00,304.11,296.61,273.99,NaN,NaN,NaN,NaN,NaN
1573,2022-04-16,2022-04-17,3,1,00,321.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,2022-04-16,2022-04-17,3,1,00,322.60,321.10,NaN,NaN,NaN,NaN,NaN,NaN
1584,2022-04-16,2022-04-17,3,1,00,322.60,322.60,321.10,NaN,NaN,NaN,NaN,NaN
1626,2022-04-16,2022-04-17,3,2,00,296.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1630,2022-04-16,2022-04-17,3,2,00,305.61,296.61,NaN,NaN,NaN,NaN,NaN,NaN
1631,2022-04-16,2022-04-17,3,2,00,305.61,305.61,296.61,NaN,NaN,NaN,NaN,NaN
1675,2022-04-16,2022-04-17,3,4,00,211.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Coverage statistics:
price_t_minus_1: 81330741 non-null values (99.02%)
price_t_minus_2: 80536358 non-null values (98.05%)
price_t_minus_3: 79753176 non-null values (97.10%)
price_t_minus_4: 78979306 non-null values (96.15%)
price_t_minus_5: 78214544 non-null values (95.22%)
price_t_minus_6: 77458020 non-null values (94.30%)
price_t_minus_7: 76710252 non-null values (93.39%)